.overlay {
    background-color: #080227;
    position: fixed;
    border-radius: 4rem;
    display: flex;
    padding: 3rem;
    width: 90%;
    height: 90%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    width: 70%;
    /* height: 100%; */
}