.overlay {
    background-color:var(--maincontainer-background);
    background-color:var(--maincontainer-background);
    position: fixed;
    border-radius: 4rem;
    display: flex;
    padding: 3rem;
    width: 90%;
    height: 90%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    width: 70%;   
}