.registerHeading{
    font-weight: bold;
    font-size: 2.5rem;
    margin: 2rem 0;
}

.registerText{
    font-size: 1.5rem;
}

.hrLine{
    width: 90%;
    text-align: center;
    margin: 2.5rem 0 .7rem 0;
    border: .2px solid black;
}

.registerForm{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    justify-content: center;
    box-sizing: border-box;
}



.loginInput{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    outline: none;
    font-size: 1.5rem;
}

.loginButton{
    background-color:var(--button-colors);
    padding: 1rem 6rem;
    width: 70%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    border-radius: 50px;
    margin: 2rem 0 .6rem 0;
    cursor: pointer;
}

.linkButton{
    color: #171ac7c7;
    font-weight: 500;
}
