.topBar {
    max-height: 10vh;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1b2846;
     */
    color: white;
    padding: 1rem;
    border-radius: 4rem;
    /* margin-bottom: 1.5rem; */
}

.topBarIcon {
    height: 4em;
    width: 4em;
}

.topBarIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

