.container{
    width: 100%;
    height: 85vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    gap: 2rem;
}



.card{
    border: 1px solid white;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.cardHead{
    font-weight: bold;
    font-size: 18px;
}

.cartText{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}