.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background: white;
  padding: 20px;
  width: 50vw;
  height: 70vh;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 2rem;
}

.modalBody {
  margin-top: 15px;
}

.searchInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 1.4rem;
}

.closeButton {
  background: red;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.6rem 1.4rem;
  border-radius: 0.4rem;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  line-height: 2rem;
  font-size: 1.3rem;
  padding: 1.4rem;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

.row:hover {
  background-color: #f9f9f9;
}
