.container {
    background: #1b2846;
    color: white;
    height: 85vh;
    border-radius: 4rem;
    margin: 2rem;
    padding: 5rem;
}

.container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.genresContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.genreImage {
    height: 15rem;
    width: 15rem;
}

.gameImage {
    height: 19.3vh;
    width: 100%;
    border-radius: 20px;
}

.cardContainer {
    height: 25vh;
    width: 100%;
    background-color: #1b1c46;
    border-radius: 20px;
    margin: 0.5%;
}
